doctype html
// Designined by CodingLab - youtube.com/codinglabyt
head
  meta(charset='UTF-8')
  title  Responsive Registration Form | CodingLab 
  link(rel='stylesheet' href='/css/reg.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.container
  .title Battery Hire Registration
  .content
    form(method='POST', action='/bregistration')
      .user-details
        .input-box
          span.details Battery Size
          input(type='text' placeholder='Enter size' required='' name='batterysize')
        .input-box
          span.details Price
          input(type='text' placeholder='Enter price' required='' name='batteryprice')
      .button
        input(type='submit' value='Register')
