:root{
    --offcanvas-width: 270px;
    --topNarbarHeight: 56px;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon{
    display: inline-flex;
    transition: all case 0.25s;
}
.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}
@media (min-width: 992px) {
    body{
        overflow: auto !important;
    }

    .offcanvas-backdrop::before{
        display: none;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNarbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}